/* CARD GRID HEADER */

.card-grid-header {
    display: block;
    width: 100%;
    padding: 0 2.5%;
    margin: 12px 0 -6px 0;
    font-size: 1rem;
}

.card-grid-header-inner {
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: 0 auto 0 auto;
    position: relative;
    text-align: center;
    font-weight: bold;
    display: block;
}

.card-grid-header-inner:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(95, 79, 102, 0.35);
    position: absolute;
    top: 50%;
    z-index: 1;
}

.card-grid-header-content {
    position: relative;
    display: inline;
    background: #F5F6F7;
    padding: 0 0.75em 0 0.75em;
    text-transform: uppercase;
    color: #5F4F66;
    font-size: 14px;
    font-weight: 500;
    z-index: 2;
}

.card-grid-header-dot {
    color: rgba(95, 79, 102, 0.4);
}