.main-header {
    color: var(--color-white);
    background-color: var(--color-dark-blue);
    padding: 8px 2% 8px 2%;
}

.set-header .inner-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.main-header-collections {
    display: flex;
    justify-content: space-between;
}

.collections-inner {
    display: flex;
}

.collection-group {
    display: flex;
    flex-direction: column;
    margin: 0 7px;
}

.collection-group-title {
    font-size: 10px;
    text-align: center;
}

@media screen and (min-width: 800px) {
    .set-header-controls {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 6px 0 6px 0;
    }
}