.main-header {
    color: var(--color-white);
    background-color: var(--color-dark-blue);
    padding: 8px 2% 8px 2%;
}

.main-header-collections {
    display: flex;
    justify-content: space-between;
}

.collections-inner {
    display: flex;
}

.collection-group {
    display: flex;
    flex-direction: column;
    margin: 0 7px;
}

.collection-group-title {
    font-size: 10px;
    text-align: center;
}
