body {
    color: #16161D;
    font-size: 15px;
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #404E29;
}

/* Colors
XPale-Green #D1DAC4
Pale-Green #A5B092
Green #828E6C
Dark-Green #5E6A4B
XDark-Green #404E29
*/

ul {
    padding: 0;
}

.header {
    background-color: #404E29;
    padding: 0 2.5%;
    width: 100%;
}

.logo-cycl {
    color: #000;
}

.logo-edh {
    color: #828E6C;
}

.header-control-row {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    max-width: 1200px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    /* justify-content: flex-start; */
    height: 52px;
    justify-content: space-between;
}

@media screen and (min-width: 420px) {
    .header-logo {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 34px;
        -ms-flex: 0 0 34px;
        flex: 0 0 34px;
    }
}

.header-logo {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 28px;
    -ms-flex: 0 0 28px;
    flex: 0 0 28px;
    height: 52px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #000;
    font-size: 24px;
}

@media screen and (min-width: 800px) {
    .header-links {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        height: 52px;
    }
}

/******/

.main {
    min-height: 70vh;
    background-color: #F5F6F7;
}

.inner-flex {
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
}